:root{--textcolor:#000;--color1:#cd2e53;--main-font:Arimo,sans-serif}
body{font-family:var(--main-font);color:#5d5d5d}
img{max-width:100%}
.container-fluid{padding:0}
header{background:url(../imgs/header.png);background-size:cover;height: 316px;background-position:center;}
h1{color:#fff;text-align:center;width:100%;margin:auto;margin-top:62px;font-size:34px;line-height:46px;letter-spacing:1.5px;font-family:var(--main-font);font-weight:900;text-transform:uppercase;margin-bottom: 17px;}
.review{color:#f7cb00;font-size:10px;margin-top:2px}
.review span{letter-spacing:1px}
.content.bg{background:#061b2a;padding-bottom:170px}
i.empty.fas.fa-star:before{color:transparent;border:1px solid;text-shadow:0 0 0 #e4e5e5,0 0 1px #505050}
.install{height:100%;background:#f4f4f4;text-align:center;border-top-right-radius:9px;border-bottom-right-radius:9px}
.item>div{float:left}

.item>div:last-of-type {
    height: 100%;
    padding: 0;
}
.slogan{color:#fff;font-size:19px;text-align:center;margin-top:6px;padding-bottom:45px;letter-spacing:.8px;margin-bottom:36px}
.tc{text-align:center;font-size:13px;padding-right:5px}
.ticket{text-align:center;width:224px;margin-top:13px;float:left;padding-left:36px;margin-bottom:10px;margin-top:44px}
.content>.container{padding:0;padding-top:28px;margin-top: -116px;max-width:900px;}
.item{width:100%;margin:0 auto;padding:0;height:270px;background:#e4e5e5;margin-bottom:19px;border-radius:9px}
h3.title{margin-top:10px;font-size:16px;padding-right:20px;line-height:23px;margin-bottom:3px;text-transform:uppercase;color:#282727}
.sub-title{font-size:9px;text-transform:uppercase;margin-top:7px;color:#bababa}
.banner{width:160px;height:600px;margin-bottom:30px}
.form{text-align:center;width:450px;padding-top:64px;margin:auto;margin-top: 140px;}
.form:before{content:"";display:block;width:100%;height:1px;background:#2c3b47;position:absolute;left:0;margin-top:-50px}
.form p{font-size:20px;color:#fff}
.form input[type="text"]{width:100%;margin-top:16px;border:0;height:37px;padding:10px;font-size:16px}
.form button.btn.primary-btn{width:100%;margin-top:20px;height:42px}
.foot{font-size:10px}
.details{padding-top:36px;margin-left:-6px}
h3.title b{font-size:18px;font-family:'Open Sans Condensed',sans-serif;letter-spacing:1px;margin-right:-4px}
.details p{font-size:11px;line-height:18px;margin-top:18px;padding-right:20px;margin-bottom:5px}
button.btn.primary-btn{background:#44b301;width:162px;border-radius:5px;margin-top:119px;height:39px;color:#fff;font-size:15px;font-family:'Open Sans',sans-serif;font-weight:400;transition:all .5s ease}
button.btn.primary-btn:hover{background:#03e003}
.slogan p{margin-bottom:8px}
.content>.container:last-of-type{padding-bottom:39px}
@media screen and (max-width:1024px) {

.item{margin-left:-20px}
}
@media screen and (max-width:768px) {
    .item>div:last-of-type{width:100%;border-radius:0}
   .form p{font-size:25px}
    .foot{
    font-size: 12px;
}
.form input[type="text"]{height:58px;font-size:20px}
.item>div:nth-of-type(2){width:75%}
.content.bg{padding-bottom:30px}
.banner{display:none}
.form{max-width:90%;margin-top:10px}
.slogan{padding:0 20px;margin-top:25px;text-transform:lowercase;line-height:35px;border:0;margin-bottom:31px;font-size:26px}
header{height:250px}
.slogan::first-letter{text-transform:capitalize}
.bg.head{background-position:0 0}
.item{text-align:center;height:auto;margin-bottom:16px;float:left;margin-left:2.5%;width:95%;}
.ticket{width:100%;margin-top:22px;margin-bottom:8px;padding:0;padding-left: 20px;}
.details{padding-top:0;text-align:left;padding: 0 10px;padding-bottom: 10px;}
.item>div:first-of-type{padding:0;width:25%;float:left;position:relative;z-index:9}
.item>div:last-of-type{padding:0}
.install{padding:20px;background: #d6d6d6;border-top-right-radius: 0;border-bottom-left-radius: 9px;}
.content>.container{padding:0 15px;padding-top:16px;margin-top: 10px;}
h1{font-size:41px;line-height:37px;text-shadow:none;letter-spacing:2px;margin-top:44px}
h3.title{margin-top:20px;padding:0;font-size:23px;padding-right:11px;line-height:29px;margin-bottom: 2px;}
h3.title b{font-size:21px;font-weight:900;margin-right:2px}
button.btn.primary-btn{margin-top:8px;height:58px;width: 406px;font-size:23px;}
.tc{font-size:15px;padding-right:10px}
.details p{font-size:16px;line-height:22px}
.form button.btn.primary-btn{height:58px}
}
@media screen and (max-width:767px) {
h1{float:right;margin-right:220px;width:100%}
}
@media screen and (max-width:600px) {
header{height:248px}
.item>div:nth-of-type(2){padding-right:10px}
.details p{padding-right:0;margin-top: 10px;font-size: 14px;}
.ticket{padding-left: 10px;}
h1{float:left;margin-right:0;font-size: 25px;letter-spacing: 0;margin-top: 10px;margin-bottom: 20px;}
button.btn.primary-btn{
    width: 90%;
}
.form p{font-size:20px}
.slogan {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
}

header {
    height: 190px;
}
}
@media screen and (max-width:400px) {
h1{float:left;margin-right:0;font-size: 19px;margin-bottom: 10px;}

.slogan {
    font-size: 14px;
    margin: 0;
    line-height: 18px;
}

header {
    height: 158px;
}

header>.container {
    padding: 5px;
}
}
@media screen and (min-width:1700px) {
.banner{margin-left:50px}
.form p{font-size:30px}
.form input[type="text"]{font-size:25px;height:50px}
.form{width:650px}
header{height:420px}
h1{font-size:56px;width:100%;margin-top:86px;line-height:55px;padding-right:12px}
.slogan{font-size:29px;margin-top:54px;width:100%;padding-bottom:60px;margin-bottom:49px}
.content>.container{max-width:1100px}
.item{min-width:1040px;margin-left:-60px;height:300px;margin-bottom:30px}
.ticket{width:250px}
h3.title{font-size:21px;line-height:29px;font-weight:lighter;margin-bottom:14px}
.sub-title{font-size:12px}
.foot{font-size:16px}
h3.title b{font-size:24px}
.details p{font-size:16px;line-height:23px;width:calc(100%)}
.details{margin-left:-61px}
button.btn.primary-btn{margin-top:130px;width:200px;height:45px;font-size:20px}
.form button.btn.primary-btn{height:55px}
.tc{font-size:17px;padding-right:30px}
}